# sbt / Scala / IDE
target/
project/target/
project/project/
.metals/
.bloop/
.bsp/
.idea/
.vscode/
*.iml

# OS / editor
.DS_Store
Thumbs.db

# logs
*.log

# caches
.cache/
.out/

# launcher jars / zips you don’t need in repo
sbt-launch.jar
